:root {
	--font-color: #fff;
	--font-size: 12px;
	--font-family: sans-serif;
	--font-weight: normal;
	--text-stroke-color: #000;
	--text-stroke-width: 0px;

	--container-width: 300px;
	--container-height: 50px;

	--horizontal-padding: 10px;

	--background-color: rgba(0, 0, 0, 0.6);

	--border-radius: 5px;
	--border-color: #fff;
	--border-width: 1px;
}

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

#banner-wrapper-wrapper {
	padding: 0 var(--horizontal-padding);
	width: var(--container-width);
	height: var(--container-height);

	background-color: var(--background-color);

	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--border-color);

	display: flex;
	align-items: center;
	justify-content: center;
}

#banner-wrapper {
	width: inherit;
	height: inherit;

	position: relative;
	overflow: hidden;
	/* custom settings that ryan decided would be best */
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	z-index: 1;
}

.banner {
	/* font */
	color: var(--font-color);
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: var(--font-weight);

	/* text stroke */
	-webkit-text-stroke-color: var(--text-stroke-color);
	-webkit-text-stroke-width: var(--text-stroke-width);

	/* other settings */
	width: fit-content;
	height: 100%;
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	white-space: nowrap;
	z-index: -1;
}
